<!DOCTYPE html>
<html lang="PT-PT">
<!--Parte de html-->
	<head >
		<meta charset="utf-8">
		<title> AJUDA:</title>
	</head>
	<body style="background-color:rgb(243, 239, 239);">
	



    <div id="ip">
      <br>
     <h2 style= "color:rgb(236, 233, 226);margin-left:10px">AdelfaStory</h2> <br>
      </div>
</div>
        <br>
        <br>
        <br>
         <br>
    <section class="about-section">
      <h2>A  literatura Angolana está a sua disposição.</h2>
      <h2> Literatura de Angola </h2>

      <p> A literatura de Angola nasceu antes da Independência de Angola em 1975,  mas o projeto de uma ficção que conferisse ao homem africano
         o estatuto de soberania surge por volta de 1950 gerando o movimento Novos Intelectuais de Angola. A literatura de Angola muitas vezes
          versa temas como o preconceito, da dor causada pelos castigos corporais, do sofrimento pela morte dos entes queridos, da exclusão social.
        </p>  
       <p>  
       A palavra literária desempenhou em Angola um importante papel na superação do estatuto de colônia. Presente nas campanhas libertadoras
        foi responsável por ecoar o grito de liberdade de uma nação por muito tempo silenciado, mas nunca esquecido. O angolano vive, por 
        algum tempo, entre duas realidades, a sociedade colonial européia e a sociedade africana; os seus escritos são, por isso, os
         resultados dessa tensão existente entre os dois mundos, um com escritos na nascente da realidade dialética, o outro com traços de ruptura. </p>

       <h2>  História </h2>
       <p>  No período de intensificação do colonialismo português, século XIX, a literatura era usada como um instrumento de expressão 
        da dominação cultural colonials. Essa literatura adepta da relação colonial tinha em comum a:

perspectiva de exotismo, evasionismo, preconceito racial e reiteração colonial e colonialista, em que a visão de mundo, o foco
 narrativo e as personagens principais eram de brancos, colonos ou viajantes, e quando se integravam os negros, eram estes avaliados
  superficialmente, de modo exógeno, folclórico e etnocêntrico, sem profundidade cultural, psicológica, sentimental e intelectual.
</p>

 <p>    
Reprodutora do ideal imperial português, essa literatura carregava em si o projeto de assimilação e aculturação dos nativos, em subordinação à metropole.
 Destacavam-se nela escritores como José da Silva Maia Ferreira e António de Assis Júnior. Esse último, porém, já possuia uma relação mais ambivalente com a Angola,
  apesar de pertencer a literatura colonial, dado que expressou nas suas obras, entre elas destaca-se O Segredo da Morta – romance de costumes angolenses, a dualidade
   cultural angolana em seu jogo de conflitos e apropriações locais, e por isso ele será também considerado o fundador do romance angolano. Foi em contraposição à essa 
   literatura colonial, e inspirados por seus dissidentes, que um movimento literário que se reivindicava propriamente angolano se formou, por volta de 1940. A publicação
do Boletim Mensagem (1948-1964), pela Casa dos Estudantes do Império, propiciou, para o desagrado do regime salazarista, um espaço de desenvolvimento cultural e 
artistico da juventude africana lusófona que habitava passageiramente a metrópole. </p>

<p>Esse periódico contribuiu significativamente na gestão do pensamento anticolonial
 e da identidade do nacionalismo literário angolano. Também importante foi a Revista Mensagem – a voz dos naturais de Angola, que comunicou as ideias dos novos intelectuais
nacionalistas angolanos. O lema ''Vamos Descobrir Angola'' expressou o agrupamento de intelectuais em torno da Revista Mensagem, que passaram à se denominar Novos Intelectuais 
de Angola, e buscaram recuperar e dar expressão à estética e costumes considerados angolanos.</p>
 <p>Assim, afirmou ser
necessário revelar valores ignorados, impondo-os; corrigir hábitos mentais defeituosos; definir posições e conceituar a verdadeira Cultura Angolana, livre de todos os agentes 
decadentes e dirigir a opinião pública para uma corrente sã e estruturalmente valorosa, que quer, pode e há-de impor-se.</p>
<p>
Essa 'verdadeira Cultura Angolana' se tratava, em um território tão diverso em povos, numa seleção por parte desses intelectuais, com base nos seus entendimentos e imaginações 
da nação angolana. No entanto, seu compromisso de combater a moralidade implicita no cânone literário colonial era claro.
</p>
<p>Os nativos são educados como se tivessem nascido e residissem na Europa. Antes de atingirem a idade em que são capazes de pensar sem esteio, não conhecem Angola. Olham 
  a sua terra de fora para dentro e não ao invés, como seria óbvio. Estudam na escola, minuciosamente a História e a geografia de Portugal, enquanto que as da Colónia apenas 
  folheiam em sinopses ou estudam muito levemente. Ingenuamente, suspiram pelas regiões temperadas do norte, por onde lhes arda o coração. Não compreendem esta gente que aqui 
  havia, os seus costumes e idiossincrasia. Não têm tradições. Não têm orgulho de sua terra porque nela nada encontram de que se orgulhar; porque não a conhecem. Não têm literatura, 
  têm a alheia. Não têm arte sua. Não têm espírito.
Não adoptam uma cultura; adaptam-se a uma cultura.
</p>
<p>Os indivíduos assim formados têm a cabeça sobre vértebras estranhas, de modo que as ideias, as expirações do espírito são estranhas à terra. Daí o olhar-se esta, 
  a sua gente e hábitos, o mundo que os rodeia, como estranhos a si – de fora.
Apesar de usar o português como base de sua expressão, o movimento também buscou valorizar o quimbundo e as alterações da lingua na oralidade das ruas.
 O lema de Vamos Descobrir Angola motivou a imersão em culturas locais, e registros e elaborações sobre os folclore e tradições desses povos. </p>
  

    </section>


     <footer>
      <p>&copy; 2024 Adelstory.</p>
    </footer>










       <!--Parte de CSS-->
		<style>
  	 	h1{
  	 	text-align:center;
  	 	color:black;
  	 	}


  	 	#ip{
     background: rgb(4, 4, 88) ;
     color: rgb(13, 13, 13) ;

    }
    

	p{
        color:rgb(15, 15, 15);
        font-size: 18px;
        margin-inline: 6%;
        text-align: justify;
    }




    body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #100147;
  color: #fff;
  padding: 20px;
}

.about-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border: 2px solid #ccc;
}

footer {
  background-color: #160345;
  color: #fff;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
      
      
  	 </style>
  	 	

        <a href="MEUPRO1.html"> VOLTAR! </a>
		</body>
	</html>	